
@import url('https://fonts.googleapis.com/css2?family=Dorsa&family=Expletus+Sans&display=swap');


.fotoprincipal{
    
    width: 100vw;
    height: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");



       .foto {
        width: 60%;
        height:  80%;
        padding-top: 3%;
        
        }

        & h1 {

        font-family: 'Dorsa', sans-serif;
        font-size: 4rem;
        text-align: center;
        padding: 2%;
        
        }
       
    
        & button{
        font-size: 1.3rem;
        border-style: none;
        margin: 4%;
        width: 100px;
        background-color: rgb(3, 3, 3);
        border: 2px solid  rgb(248, 248, 248);
        color: aliceblue;
        background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
        border-radius: 8px;
        font-family: "suisse","HelveticaNeue","Helvetica","Arial",sans-serif;

         &:hover{

            background-color: aquamarine;
         }

         & button{
            background-color: red;
         }



        }



        
    }

    
    
    





