
   <div class="fotoprincipal">
    <h1>Sneakers Litimed Edition</h1>
   
    <a href="http://localhost:4200/nike">
       <button>Nike</button>
    </a>
    <a href="http://localhost:4200/adidas">
        <button>Adidas</button>
    </a>
    
    <img class="foto" src="../../../assets/home/zapasaltashome.jpeg" alt="portadanike">
    
    <!-- <h2>Blog</h2>
    <img src="../../../assets/home/foto1.png" alt="fotoportada">
    <img src="../../../assets/home/foto2.png" alt="foto2">
    <img src="../../../assets/home/foto3.png" alt="foto3"> --> -->
    </div>
    
 



