<nav>
  <ul>
    <img class="logo" src="../../../assets/navFot/zap.png" alt="logo" />

    <li>
      <a class="glow-on-hover" routerLink="/">Home</a>
    </li>
    <li>
      <a class="glow-on-hover" routerLink="/nike">Nike</a>
    </li>
    <li>
      <a class="glow-on-hover" routerLink="/adidas">Adidas</a>
    </li>
    <li>
      <a class="glow-on-hover" routerLink="/gestion">Gestion</a>
    </li>
    <li>
      <button (click)="cambiarColor()" class="sol">{{ btnText }}</button>
    </li>
  </ul>
</nav>
