
@import url('https://fonts.googleapis.com/css2?family=Dorsa&family=Expletus+Sans&family=Syncopate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dorsa&family=Expletus+Sans&family=Gaegu:wght@300&family=Give+You+Glory&family=Syncopate&display=swap');




nav {
    @media (max-width: 600px) {
       width: 100%;
       height: 10vh;

    }
   
    width: 100%;
    height: 14vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
   background-color: #34a0a4;
   background-image: url("https://www.transparenttextures.com/patterns/white-paperboard.png");

    


    & ul{
       
        display: flex;
        align-items: center;
        font-family: 'Gaegu', cursive;
        padding-top: 2%;
        gap: 20px;
       
    }

    & li {
        list-style-type: none;
       
    }

    a {
        @media (max-width: 600px) {
            font-size: 1rem;
     
         }
        text-decoration: none;
        color: black;
        text-transform: uppercase;
        font-size: 2.5rem;
        
    }

    .logo{
        @media (max-width: 600px) {

        width: 60px;
        object-fit: cover;


 
     }
        
        width: 60px;
      
    }

    

    



}