
@import url('https://fonts.googleapis.com/css2?family=Dorsa&family=Expletus+Sans&family=Syncopate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dorsa&family=Expletus+Sans&family=Gaegu:wght@300&family=Give+You+Glory&family=Syncopate&display=swap');




nav {
    @media (max-width: 600px) {
       width: 100%;

    }
    
   width: 100vw;
   height: 10vw;
   background-color: #34a0a4;
   background-image: url("https://www.transparenttextures.com/patterns/white-paperboard.png");

    


    & ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        font-family: 'Gaegu', cursive;
        padding-top: 2%;
       
    }

    & li {
        list-style-type: none;
       
    }

    a {
        @media (max-width: 600px) {
            font-size: 1rem;
     
         }
        text-decoration: none;
        color: black;
        text-transform: uppercase;
        font-size: 2.5rem;
        
    }

    .logo{
        height: 100%;
        width: 100%;
      
    }

    .lo{
        @media (max-width: 600px) {
            height: 40px;
            width: 40px;
     
         }
       
        height: 150px;
        width: 150px;
       
        

    }

    



}