<nav>
    
    <ul>
      
        <img class="logo"src="../../../assets/navFot/logo.png" alt="logo">
    
         <li>
            <a routerLink="/">Home</a>
        </li>
        <li>
            <a routerLink="/nike">Nike</a>
        </li>
        <li>
            <a routerLink="/adidas">Adidas</a>
        </li>
        <li>
            <a routerLink="/gestion">Gestion</a>
        </li>
        <li>
            <button (click)="cambiarColor()" class="sol">{{btnText}}</button>
        </li>
    </ul>
</nav>
