
figure{
    display: flex;
    justify-content: space-around;
    text-align: center;
    border: solid 1px black;
    img{
        width: 30vh;
    
        object-fit: cover;
    }
    button{
        
        width: 120px;
        height: 60px;
    }

button {

width: 20%;
height: 30px;

}
}