
h2{
    font-size: 40px;
    text-align: center;
    padding: 40px;
    font-family: "suisse","HelveticaNeue","Helvetica","Arial",sans-serif;

}
p{
    @media (max-width: 600px) {
        margin-left: 60px;
        margin-right: 60px;
            
    }
    font-size: 20px;
    margin-left: 200px;
    margin-right: 150px;
    padding-bottom: 60px;
    font-family: "suisse","HelveticaNeue","Helvetica","Arial",sans-serif;

    
}
.adidas{
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    article{
        
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 10px;

    }

}