div {
  @media (max-width: 600px) {
    padding-bottom: 39%;
    
  }
  display: grid;
  grid-template-columns: 1fr 1fr 0fr;
  grid-template-rows: 2fr 0fr 0fr;
  gap: 0px 10px;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
  padding: 20px;
  font-family: "Gaegu", cursive;
  padding-bottom: 11%;

  input[type="text"],
  select,
  textarea {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type="submit"] {
    background-color: #04aa6d;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Gaegu", cursive;
  }

  button {
    background-color: #68c0c3;
    color: aliceblue;
    font-size: 15px;
    margin: 5px;
    font-family: "Gaegu", cursive;
    padding: 5px;
    border-radius: 12%;
  }
}
