<section class="gestion">
  
    <h2>Tu Stock de Sneakers</h2>
    <form class="container" [formGroup]="zapaForm" (ngSubmit)="onSubmit()">
      <label for="marca">Marca</label>
      <input type="text" id="marca" formControlName="marca" placeholder="adidas/nike" />
      <label for="imagen">Imagen</label>
      <input type="text" id="imagen" formControlName="imagen" placeholder="Agrega una Imagen" />
      <label for="modelo">Modelo</label>
      <input
        type="text"
        id="modelo"
        formControlName="modelo"
        placeholder="modelo"
      />
      <label for="precio">Precio</label>
      <input
        type="text"
        id="precio"
        formControlName="precio"
        placeholder="precio"
      />
      <button type="submit">Submit</button>
      <button (click)="delete()">Delete Zapa</button>
    </form>
  </section>
