
@import url('https://fonts.googleapis.com/css2?family=Dorsa&family=Expletus+Sans&family=Give+You+Glory&family=Syncopate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dorsa&family=Expletus+Sans&family=Syncopate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dorsa&family=Expletus+Sans&family=Gaegu:wght@300&family=Give+You+Glory&family=Syncopate&display=swap');


* {
    margin: 0;
    padding: 0;
}

nav ul {
    list-style:none;
  }

li{
    list-style:none;
}

a{
    color: none;
    text-decoration: none;

}

body{
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
}