* {
    margin: 0;
    padding: 0;
}

nav ul {
    list-style:none;
  }

li{
    list-style:none;
}

a{
    color: none;
    text-decoration: none;

}

body{
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
}