@import url('https://fonts.googleapis.com/css2?family=Dorsa&family=Expletus+Sans&family=Syncopate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dorsa&family=Expletus+Sans&family=Gaegu:wght@300&family=Give+You+Glory&family=Syncopate&display=swap');


footer {
  background-color: #18bec7;
  background-image: url("https://www.transparenttextures.com/patterns/white-paperboard.png");
  display: flex;
  flex-direction:unset;
  align-items: center;
  position: relative;
  bottom: 0;
  width: 100%;
 
  
  
  font-family: 'Gaegu', cursive;
  

  a {
    color: black;
    font-size: 14px;
    text-decoration: underline;
    margin-bottom: 1vh;
    margin-top: 0,9vh;
    display: flex;
    text-align: center;
    justify-content: space-around;
    background-color: #18bec7;
    background-image: url("https://www.transparenttextures.com/patterns/white-paperboard.png");
    
  
  }

  .redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 38vw;
    background-color: #18bec7;
   
    background-image: url("https://www.transparenttextures.com/patterns/white-paperboard.png");
    

    .logo {
      width: 3vh;
      gap: 1%;
      display: flex;
      text-align: center;
      justify-content: center;
      border-radius: 17px;
      
      
    }
  }

  p {
    background-color: #18bec7;
    
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 12px;
    background-image: url("https://www.transparenttextures.com/patterns/white-paperboard.png");
    margin-top: 5px;
    color: var(--text-color);
    color:black;
  }

  .zap{

    width: 8vh;
      gap: 1%;
      display: flex;
      text-align: start;
      justify-content: start;
      border-radius: 17px;
      padding-left: 10%;
      
      -webkit-filter: var(--webkit);
      filter:var(--por);
   
  }

  
}

@media (max-width: 600px) {

  .redes {
    display: flex;
    flex-direction: row
  }

  footer{
    min-height: fit-content;
    
    display: flex;
    flex-direction: column;
    position: relative;
  bottom: 0;
  width: 100%;
  
   }

   a{

    font-size: 0.6rem;
    font-family: 'Gaegu', cursive;
   }

}

