<footer>
   
    <div class=" redes">
        <img src="../../../assets/navFot/zap2.png" alt="Siguenos">
        <h2>Síguenos</h2>
        
       
        <a href="https://www.instagram.com/"><img class="logo" src="../../../assets/navFot/instagram.png" alt="instagram"/></a>
        <a href="https://twitter.com/"><img class="logo" src="../../../assets/navFot/twitter.png" alt="twitter" /></a>
        <a href="https://www.facebook.com/"><img class="logo"  src="../../../assets/navFot/facebook.png" alt="facebook"/></a>
        <a href="https://www.youtube.com/"><img class="logo"  src="../../../assets/navFot/youtube.png" alt="youtube"/></a>
        <a href="https://www.tiktok.com/es/"><img class="logo"  src="../../../assets/navFot/tiktok.png" alt="tiktok"/></a>

    
    </div>

    <div> <strong>
        <a href="https://www.sivasdescalzo.com/es/privacy-policy"> Política de Privacidad</a> 
        <a href="https://www.sivasdescalzo.com/es/purchase-conditions">Condiciones de compra</a>

        <p> ©Copyrigth-2022 - Hecho con cariño por Jose,Dulce y Esther 🖤!  </p>
    </strong></div>
  


  
</footer>

